html
  head
    title Offlinify Example
    link(href='/static/semantic/dist/semantic.min.css', rel='stylesheet')
  body(ng-app="offlineApp")
    .ui.menu
      a.active.item
       strong Offlinify-Angular
      a.item
        i.refresh.icon
        p Manual Sync
      .right.menu
        .item
          .ui.icon.input
            input(type='text', placeholder='Add New Item')
            i.search.link.icon
    .ui.three.column.padded.grid
      .column
        h5.ui.top.attached.header Object Store 1
        .ui.attached.segment
          #dataModel(ng-repeat='item in dataModel')
            p This is a test
    script(src='/static/angular/angular.min.js')
